
body {
    	background-color: #ff0000;
    	color: turquoise;
	}

h1 {
    	font-family: 'Notable', sans-serif;
    	color: orange;
    	font-size: 50px;
	}

a {
    	color: black;
    	font-family: 'Dancing Script', cursive;
    	font-size: 24px;
    	text-decoration: none;
	}

a:hover{
  	color: black;
	}

